/* General CSS */
*{
    margin:0;
	padding:0;
	scroll-behavior: smooth;
}

header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.8)), url(Assets/headerBackground.jpg);
	height: 55vh;
	background-size: cover;
	background-position: center;
}

.head_nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	color:  black;
	font-family: fantasy;
	font-size: 32px;
	width: 100%;
	padding: 0px 30px;
	background:  linear-gradient(rgba(255, 255, 255, 0.1),rgba(255,255,255,1));
}

.main_nav{
	display: flex;
	list-style: none;
    padding: 0px 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.main_nav li{
	padding: 25px 10px;
}

.main_nav a{
	text-decoration: none;
	color: black;
	padding: 5px 20px;
}

.main_nav li.is_active a{
	border: 3px solid black;
}

.main_nav li a:hover{
	color:rgb(77, 121, 255);
}

.title{
	display: grid;
	align-items: center;
}

.title h1{
	width: 100%;
	display: flex;
	justify-content: center;
	color: rgb(77, 121, 255);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding-top: 8%;
}

.title ul li{
	list-style: none;
	text-align: center;
	font-size: 40px;
	align-items: center;
}

footer{
	background: linear-gradient(to bottom, #003399 0%, #3399ff 100%);
	text-align: center;
	color: rgba(255, 255, 255, 0.698);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 18px;
	padding: 50px;
}

footer span{
	font-family: fantasy;
	font-size: 36px;
	color: black;
}

/* HomePage CSS */
.btnJoin{
	font-size: 30px;
	border: 10px double white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	border-radius: 25px;
	
}
.btnJoin a{
	text-decoration: none;
	color: white;
	padding: 5px 40px;
}

.contentHome{
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.8)), url(Assets/homeBackground.jpg);
	background-size: cover;
	background-position: center;
	color: rgb(77, 121, 255);
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 7% 20%;
	font-size: 40px;
	border: 10px solid goldenrod;
}
.contentHome p{
	text-align: justify;
	font-size: 25px;
	color: white;
}

/* MediaPage CSS */
/* CommunityPage CSS */
/* AboutUsPage CSS */
/* BuyPage CSS */
.contentBuy{
	padding: 7% 20%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background:  linear-gradient(to bottom, #ffffff 0%, #003399 100%);
	color: black;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
}

.buyBackground{
	background: white;
	padding: 5% 5%;
	border-radius: 30px;
	align-content: center;
	text-align: left;
	font-size: 14px;
}

.buyBackground span{
	text-align: center;
	font-size: 16px;
	color: rgb(77, 121, 255);
}

input[type=text]{
    width: 100%;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    transition: .3s;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 14px;
}

input[type=text]:focus{
    border-color:  #3366ff;
    box-shadow: 0 0 8px 0  #3366ff;
}

input[type=password]{
    width: 100%;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    transition: .3s;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 14px;
}

input[type=password]:focus{
    border-color:  #3366ff;
    box-shadow: 0 0 8px 0  #3366ff;
}

textarea{
    width: 100%;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    transition: .3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	resize: vertical;
	font-size: 14px;
}

textarea:focus{
    border-color:  #3366ff;
    box-shadow: 0 0 8px 0  #3366ff;
}

input[type=number]{
    width: 10%;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    transition: .3s;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 14px;
}

input[type=number]:focus{
    border-color:  #3366ff;
    box-shadow: 0 0 8px 0  #3366ff;
}

input[type=button]{
    width: 30%;
    border-radius: 4px;
    margin: 8px 0;
    padding: 15px;
    transition: .3s;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 14px;
	background-color: rgb(77, 121, 255);
}

.posButton{
	text-align: center;
}


